{
    "cname": "{{ cname }}",
    "doc_dir": "{{ doc_dir }}",
    "project_description": "{{ project_description }}",
    "package_name_py": "{{ package_name_py }}",
    "project_name": "{{ project_name }}"
}
