---
site_name: {{ package_name_py }}
site_author: {{ author_name }}
site_description: {{ package_name_py }} project documentation
site_url: https://{{ cname }}
repo_name: {{ repository_namespace }}/{{ project_name }}
repo_url: {{ repository_url }}
edit_uri: edit/main/{{ doc_dir }}
docs_dir: {{ doc_dir }}
site_dir: releases/site

theme:
  name: material
  palette:
    - scheme: default
      accent: green
  icon:
    repo: fontawesome/brands/github
  features:
    - toc.autohide

watch:
  - {{ package_name_py }}

plugins:
  - gen-files:
      scripts:
        - {{ doc_dir }}/gen_ref_nav.py
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_section_style: spacy
            line_length: 120
            separate_signature: true
            show_category_heading: true
  - search

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - codehilite:
      linenums: true
  - def_list
  - extra
  - fenced_code
  - footnotes
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.details
  - pymdownx.highlight:
      linenums: true
      linenums_style: pymdownx-inline
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.tasklist:
      custom_checkbox: true
      clickable_checkbox: true
  - smarty
  - tables
  - toc:
      permalink: ⚓︎
      toc_depth: 5

extra_css:
  - _styles/mkdocstrings.css

extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.2.1/tablesort.min.js
  - _javascript/tables.js
