[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.commitizen]
name = "cz_conventional_commits"
version = "0.0.1"
version_files = ["pyproject.toml", "{{ package_name_py }}/__init__.py"]

[tool.isort]
balanced_wrapping = true
default_section = "THIRDPARTY"
force_grid_wrap = 0
include_trailing_comma = true
known_first_party = "{{ package_name_py }}"
length_sort = false
line_length = 120
multi_line_output = 5

[tool.poetry]
name = "{{ package_name_py }}"
version = "0.0.1"
description = "{{ project_description }}"
license = "MIT"
authors = ["{{ author_name }} <{{ author_email }}>"]
maintainers = []
repository = "{{ repository_provider }}/{{ repository_namespace }}/{{ package_name_py }}"
documentation = "{{ repository_provider }}/{{ repository_namespace }}/{{ package_name_py }}/{{ doc_dir }}"
readme = "{{ doc_dir }}/README.md"
include = ["LICENSE.md"]
keywords = []
classifiers = [
    "Development Status :: 1 - Planning",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
] # https://pypi.org/classifiers/

[tool.poetry.urls]
"Bug Tracker" = "{{ repository_provider }}/{{ repository_namespace }}/{{ package_name_py }}/issues"
"Changelog" = "{{ repository_provider }}/{{ repository_namespace }}/{{ package_name_py }}/blob/main/{{ doc_dir }}/docs/CHANGELOG.md"

[tool.poetry.dependencies]
python = "^{{ minimum_python }}"
calcipy = ">=0.19.0"

[tool.poetry.dev-dependencies]
calcipy = { version = "*", extras = ["dev", "lint", "test"] }
