[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core"]

[tool.commitizen]
version = "0.0.1"
version_files = ["pyproject.toml:^version", "{{ package_name_py }}/__init__.py:^__version"]

[tool.poetry]
authors = ["{{ author_name }} <{{ author_email }}>"]
classifiers = [
  "Development Status :: 1 - Planning",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.9",
] # https://pypi.org/classifiers/
description = "{{ project_description }}"
documentation = "https://{{ cname }}"
include = ["LICENSE"]
keywords = []
license = "MIT"
maintainers = []
name = "{{ package_name_py }}"
readme = "{{ doc_dir }}/README.md"
repository = "{{ repository_url }}"
version = "0.0.1"

[tool.poetry.dependencies]
python = "^{{ minimum_python }}"
corallium = ">=0.3.3"

[tool.poetry.group.dev.dependencies]
calcipy = {extras = ["doc", "lint", "nox", "stale", "tags", "test", "types"], version = ">=2.0.1"}
{% if extends_calcipy %}
[tool.poetry.scripts]
{{ package_name_py }} = "{{ package_name_py }}.scripts:start"
{% endif %}
[tool.poetry.urls]
"Bug Tracker" = "{{ repository_url }}/issues"
"Changelog" = "{{ repository_source_url }}/{{ doc_dir }}/docs/CHANGELOG.md"

[tool.pyright]
include = ["{{ package_name_py }}"]
pythonVersion = "{{ minimum_python_short }}"

[tool.tomlsort]
all = true
in_place = true
sort_first = ["python"]
trailing_comma_inline_array = true
