.calcipy_packaging.lock
.deepsource.toml
.doit-db.sqlite
.doit.tmp-py
.doit.tmp-toml
.flake8
.github/codeql-config.yml
.github/labels.yml
.github/workflows/codeql-analysis.yml
.github/workflows/codeql-config.yml
.github/workflows/labeler.yml
.github/workflows/upgrade-dependencies.yml
.logs/
.mypy.ini
.pylintrc
.pyup.yml
.ruff.toml
.sourcery.yaml
.tool-versions
.yamllint.yaml
_adr/
appveyor.yml
dodo.py
flake8-full.log
mypy.ini
poetry.toml
requirements.txt
ruff.toml
{{ doc_dir }}/css/
{{ doc_dir }}/docs/Advanced_Documentation.md
{{ doc_dir }}/docs/CODE_OF_CONDUCT.md
{{ doc_dir }}/docs/CONTRIBUTING.md
{{ doc_dir }}/docs/SECURITY.md
{{ doc_dir }}/docs/_docs.md
