---
name: Setup Action
description: Install uv, configure Python, and install package dependencies

inputs:
  os:
    default: ubuntu-latest
  pipx-packages:
    default: ""
  python-version:
    required: true
  uv-version:
    description: Version of uv to install
    default: latest

runs:{% raw %}
  using: composite
  steps:
    - name: Setup uv and Python ${{ inputs.python-version }}
      uses: astral-sh/setup-uv@v7
      with:
        python-version: ${{ inputs.python-version }}
        uv-version: ${{ inputs.uv-version }}
        cache-dependency-glob: "**/uv.lock"
        enable-cache: true

    - name: Install tool packages '${{ inputs.pipx-packages }}'
      if: inputs.pipx-packages != ''
      run: |
        for tool in ${{ inputs.pipx-packages }}; do
          uv tool install $tool
        done
      shell: bash

    - name: Debug tools
      if: inputs.pipx-packages != ''
      run: |
        uv tool list
      shell: bash

    - name: Install Project and Dependencies{% endraw %}
      run: |
        uv sync && uv run calcipy-pack pack.install-extras
      shell: bash
