# {{ project_name }} ({{ package_name_py }})

{{ project_description }}

<!-- TODO: See https://github.com/KyleKing/calcipy/issues/38 -->

## Installation

1. ...
2. ...

    ```sh
    echo Hello World!
    ```

3. ...

## Usage

<!-- TODO: Show an example (screenshots, terminal recording, etc.) -->

For more examples, see [Scripts]({{ repository_provider }}/{{ repository_namespace }}/{{ package_name_py }}/scripts) or [Tests]({{ repository_provider }}/{{ repository_namespace }}/{{ package_name_py }}/tests)

## Roadmap

See the `Open Issues` and `Milestones` for current status and [./docs/CODE_TAG_SUMMARY.md](./docs/CODE_TAG_SUMMARY.md) for annotations in the source code.

For release history, see the [./docs/CHANGELOG.md](./docs/CHANGELOG.md)

## Contributing

See the Developer Guide, Contribution Guidelines, etc

- [./docs/DEVELOPER_GUIDE.md](./docs/DEVELOPER_GUIDE.md)
- [./docs/STYLE_GUIDE.md](./docs/STYLE_GUIDE.md)
- [./docs/CONTRIBUTING.md](./docs/CONTRIBUTING.md)
- [./docs/CODE_OF_CONDUCT.md](./docs/CODE_OF_CONDUCT.md)
- [./docs/SECURITY.md](./docs/SECURITY.md)

## License

[LICENSE]({{ repository_provider }}/{{ repository_namespace }}/{{ package_name_py }}/LICENSE)
