# {{ project_name }}

{{ project_description }}

## Installation

1. `poetry add {{ project_name_py }}`

1. ...

   ```sh
   import {{ project_name_py }}

   # < TODO: Add example code here >
   ```

1. ...

## Usage

<!-- < TODO: Show an example (screenshots, terminal recording, etc.) > -->

For more example code, see the [[scripts]] directory or the [[tests]].

## Project Status

See the `Open Issues` and/or the [CODE_TAG_SUMMARY][code_tag_summary].

For release history, see the [CHANGELOG.md][changelog]

## Contributing

We welcome pull requests! For your pull request to be accepted smoothly, we suggest that you first open a GitHub issue to discuss your idea. For resources on getting started with the code base, see the below documentation:

- [DEVELOPER_GUIDE.md][developer_guide]
- [STYLE_GUIDE.md][style_guide]
- [CONTRIBUTING.md][contributing]

## Code of Conduct

We follow the [Contributor Covenant Code of Conduct][contributor-covenant].

## Responsible Disclosure

If you have any security issue to report, please contact the project maintainers privately. You can reach us at [{{ author_email }}](mailto:{{ author_email }}).

## License

[LICENSE][license]

<-- Links -->
  [changelog]: ./docs/CHANGELOG.md
  [code_tag_summary]: ./docs/CODE_TAG_SUMMARY.md
  [contributing]: ./docs/CONTRIBUTING.md
  [contributor-covenant]: https://www.contributor-covenant.org
  [developer_guide]: ./docs/DEVELOPER_GUIDE.md
  [license]: {{ repository_provider }}/{{ repository_namespace }}/{{ package_name_py }}/LICENSE
  [scripts]: {{ repository_provider }}/{{ repository_namespace }}/{{ package_name_py }}/scripts
  [style_guide]: ./docs/STYLE_GUIDE.md
  [tests]: {{ repository_provider }}/{{ repository_namespace }}/{{ package_name_py }}/tests
