# {{ project_name }}

{{ project_description }}

## Installation

1. `poetry add {{ project_name_py }}`

1. ...

   ```sh
   import {{ project_name_py }}

   # < TODO: Add example code here >
   ```

1. ...

## Usage

<!-- < TODO: Show an example (screenshots, terminal recording, etc.) > -->

For more example code, see the [scripts] directory or the [tests].

## Project Status

See the `Open Issues` and/or the [CODE_TAG_SUMMARY]. For release history, see the [CHANGELOG].

## Contributing

We welcome pull requests! For your pull request to be accepted smoothly, we suggest that you first open a GitHub issue to discuss your idea. For resources on getting started with the code base, see the below documentation:

- [DEVELOPER_GUIDE]
- [STYLE_GUIDE]

## Code of Conduct

We follow the [Contributor Covenant Code of Conduct][contributor-covenant].

### Open Source Status

We try to reasonably meet most aspects of the "OpenSSF scorecard" from [Open Source Insights](https://deps.dev/pypi/{{ package_name }})

## Responsible Disclosure

If you have any security issue to report, please contact the project maintainers privately. You can reach us at [{{ author_email }}](mailto:{{ author_email }}).

## License

[LICENSE]

[changelog]: https://{{ cname }}/docs/CHANGELOG
[code_tag_summary]: https://{{ cname }}/docs/CODE_TAG_SUMMARY
[contributor-covenant]: https://www.contributor-covenant.org
[developer_guide]: https://{{ cname }}/docs/DEVELOPER_GUIDE
[license]: {{ repository_source_url }}/LICENSE
[scripts]: {{ repository_source_url }}/scripts
[style_guide]: https://{{ cname }}/docs/STYLE_GUIDE
[tests]: {{ repository_source_url }}/tests
